bullet*/
ICGMedia/
ogre_*/
OgreDep*/
OgreSampleProj/bin/
OgreSampleProj/CMake*/
OgreSampleProj/Com*/
OgreSampleProj/D*/
OgreSampleProj/in*/
OgreSampleProj/ip*/
OgreSampleProj/lib/
OgreSampleProj/OgreMain/
OgreSampleProj/PlugIns/
OgreSampleProj/Render*/
OgreSampleProj/Samples/
OgreSampleProj/Tools/
OgreSampleProj/x64/
OgreSampleProj/ICGSample/ICG_OgreSampleScene/VSIntermediate
OgreSampleProj/*.*
*.cpp~
